html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-display: block;
}

.icon {
    width: 28px;
    height: 28px;
    filter: invert(51%) sepia(11%) saturate(12%) hue-rotate(105deg) brightness(96%) contrast(94%);
    vertical-align: top;
  }

.icon.active{
    filter: invert(31%) sepia(100%) saturate(7389%) hue-rotate(344deg) brightness(98%) contrast(90%);
}

.div-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div-flex-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px 2%;
    vertical-align: middle;
    height: 100%;
}

.flex-item {
    box-shadow: 5px 5px 5px gray;
    width: 350px;
    height: 350px;
}

.floorplan {
    width: 100%;
    height: 100%;
}

.inProgress{
    background-color: #000;
    filter: grayscale(true);
    opacity: 0.5;
    z-index: 3;
}

.div-content {
    flex: 1;
    height: 100%;
}

.navbar-logo {
    height: 40px;
}

.nav-item {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

.fa-solid {
    margin-right: 5px;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ed1a3b;
}

#carousel {
    flex-grow: 1;
    height: auto;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-image: url(../img/isometric.png);
    text-align: left;
    color: #fff;
}

.carousel-title {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
}

.carousel-description {
    font-size: 1rem;
}

figure {
    position: relative;
    width: 100%;
    height: 100%;
}

figure:hover figcaption {
    opacity: 1;
}

figure:hover .line::before {
    width: 80%;
}

figure:hover .line::after {
    width: 80%;
}

figure:hover .line span::before {
    height: 80%;
}

figure:hover .line span::after {
    height: 80.5%;
}


figcaption {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: -100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}

a figcaption p {
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.line::before {
    content: "";
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 10%;
    top: 10%;
    width: 0%;
    height: 2px;
}

.line::after {
    content: "";
    position: absolute;
    background: rgba(230, 230, 230, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 10%;
    top: 90%;
    width: 0%;
    height: 2px;
}

.line span::before {
    content: "";
    position: absolute;
    background: rgba(230, 230, 230, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 10%;
    top: 10%;
    width: 2px;
    height: 0%;
}

.line span::after {
    content: "";
    position: absolute;
    background: rgba(230, 230, 230, 0.7);
    display: inline-block;
    transition: all 0.5s;
    left: 90%;
    top: 10%;
    width: 2px;
    height: 0%;
}